In [1]:
import tensorflow as tf
import csv

with open("train.csv",'r') as file:
    reader = csv.reader(file)
    for row in reader:
        print(row)
print ("   ")
with open("eval.csv",'r') as file:
    reader = csv.reader(file)
    for row in reader:
        print(row)

['survived', 'sex', 'age', 'n_siblings_spouses', 'parch', 'fare', 'class', 'deck', 'embark_town', 'alone']
['0', 'male', '22', '1', '0', '7.25', 'Third', 'unknown', 'Southampton', '0']
['1', 'female', '38', '1', '0', '71.2833', 'First', 'C', 'Cherbourg', '0']
['1', 'female', '26', '0', '0', '7.925', 'Third', 'unknown', 'Southampton', '1']
['1', 'female', '35', '1', '0', '53.1', 'First', 'C', 'Southampton', '0']
['0', 'male', '28', '0', '0', '8.4583', 'Third', 'unknown', 'Queenstown', '1']
['0', 'male', '2', '3', '1', '21.075', 'Third', 'unknown', 'Southampton', '0']
['1', 'female', '27', '0', '2', '11.1333', 'Third', 'unknown', 'Southampton', '0']
['1', 'female', '14', '1', '0', '30.0708', 'Second', 'unknown', 'Cherbourg', '0']
['1', 'female', '4', '1', '1', '16.7', 'Third', 'G', 'Southampton', '0']
['0', 'male', '20', '0', '0', '8.05', 'Third', 'unknown', 'Southampton', '1']
['0', 'male', '39', '1', '5', '31.275', 'Third', 'unknown', 'Southampton', '0']
['0', 'female', '14', '0', '0', '7.8542', 'Third', 'unknown', 'Southampton', '1']
['0', 'male', '2', '4', '1', '29.125', 'Third', 'unknown', 'Queenstown', '0']
['1', 'male', '28', '0', '0', '13', 'Second', 'unknown', 'Southampton', '1']
['0', 'female', '31', '1', '0', '18', 'Third', 'unknown', 'Southampton', '0']
['1', 'female', '28', '0', '0', '7.225', 'Third', 'unknown', 'Cherbourg', '1']
['0', 'male', '35', '0', '0', '26', 'Second', 'unknown', 'Southampton', '1']
['1', 'male', '28', '0', '0', '35.5', 'First', 'A', 'Southampton', '1']
['1', 'female', '38', '1', '5', '31.3875', 'Third', 'unknown', 'Southampton', '0']
['0', 'male', '28', '0', '0', '7.225', 'Third', 'unknown', 'Cherbourg', '1']
['0', 'male', '19', '3', '2', '263', 'First', 'C', 'Southampton', '0']
['1', 'female', '28', '0', '0', '7.8792', 'Third', 'unknown', 'Queenstown', '1']
['0', 'male', '28', '0', '0', '7.8958', 'Third', 'unknown', 'Southampton', '1']
['0', 'male', '40', '0', '0', '27.7208', 'First', 'unknown', 'Cherbourg', '1']
['1', 'female', '28', '1', '0', '146.5208', 'First', 'B', 'Cherbourg', '0']
['1', 'female', '28', '0', '0', '7.75', 'Third', 'unknown', 'Queenstown', '1']
['0', 'male', '66', '0', '0', '10.5', 'Second', 'unknown', 'Southampton', '1']
['0', 'male', '28', '1', '0', '82.1708', 'First', 'unknown', 'Cherbourg', '0']
['0', 'male', '42', '1', '0', '52', 'First', 'unknown', 'Southampton', '0']
['1', 'male', '28', '0', '0', '7.2292', 'Third', 'unknown', 'Cherbourg', '1']
['1', 'female', '14', '1', '0', '11.2417', 'Third', 'unknown', 'Cherbourg', '0']
['0', 'female', '40', '1', '0', '9.475', 'Third', 'unknown', 'Southampton', '0']
['0', 'female', '27', '1', '0', '21', 'Second', 'unknown', 'Southampton', '0']
['0', 'male', '28', '0', '0', '7.8958', 'Third', 'unknown', 'Cherbourg', '1']
['1', 'female', '3', '1', '2', '41.5792', 'Second', 'unknown', 'Cherbourg', '0']
['0', 'male', '28', '0', '0', '8.05', 'Third', 'unknown', 'Southampton', '1']
['0', 'male', '28', '1', '0', '15.5', 'Third', 'unknown', 'Queenstown', '0']
['0', 'male', '28', '2', '0', '21.6792', 'Third', 'unknown', 'Cherbourg', '0']
['0', 'female', '18', '1', '0', '17.8', 'Third', 'unknown', 'Southampton', '0']
['0', 'male', '7', '4', '1', '39.6875', 'Third', 'unknown', 'Southampton', '0']
['1', 'female', '49', '1', '0', '76.7292', 'First', 'D', 'Cherbourg', '0']
['1', 'female', '29', '1', '0', '26', 'Second', 'unknown', 'Southampton', '0']
['0', 'male', '65', '0', '1', '61.9792', 'First', 'B', 'Cherbourg', '0']
['1', 'male', '28', '0', '0', '35.5', 'First', 'C', 'Southampton', '1']
['1', 'female', '21', '0', '0', '10.5', 'Second', 'unknown', 'Southampton', '1']
['0', 'male', '28.5', '0', '0', '7.2292', 'Third', 'unknown', 'Cherbourg', '1']
['0', 'male', '11', '5', '2', '46.9', 'Third', 'unknown', 'Southampton', '0']
['0', 'male', '22', '0', '0', '7.2292', 'Third', 'unknown', 'Cherbourg', '1']
['1', 'female', '38', '0', '0', '80', 'First', 'B', 'unknown', '1']
['0', 'male', '45', '1', '0', '83.475', 'First', 'C', 'Southampton', '0']
['0', 'male', '4', '3', '2', '27.9', 'Third', 'unknown', 'Southampton', '0']
['1', 'male', '28', '1', '1', '15.2458', 'Third', 'unknown', 'Cherbourg', '0']
['0', 'male', '19', '0', '0', '8.1583', 'Third', 'unknown', 'Southampton', '1']
['1', 'female', '17', '4', '2', '7.925', 'Third', 'unknown', 'Southampton', '0']
['0', 'male', '26', '2', '0', '8.6625', 'Third', 'unknown', 'Southampton', '0']
['0', 'male', '32', '0', '0', '10.5', 'Second', 'unknown', 'Southampton', '1']
['0', 'male', '21', '0', '0', '73.5', 'Second', 'unknown', 'Southampton', '1']
['1', 'male', '32', '0', '0', '56.4958', 'Third', 'unknown', 'Southampton', '1']
['0', 'male', '25', '0', '0', '7.65', 'Third', 'F', 'Southampton', '1']
['0', 'male', '28', '0', '0', '7.8958', 'Third', 'unknown', 'Southampton', '1']
['0', 'male', '28', '0', '0', '8.05', 'Third', 'unknown', 'Southampton', '1']
['1', 'male', '0.83', '0', '2', '29', 'Second', 'unknown', 'Southampton', '0']
['1', 'female', '30', '0', '0', '12.475', 'Third', 'unknown', 'Southampton', '1']
['0', 'male', '22', '0', '0', '9', 'Third', 'unknown', 'Southampton', '1']
['1', 'male', '29', '0', '0', '9.5', 'Third', 'unknown', 'Southampton', '1']
['1', 'female', '28', '0', '0', '7.7875', 'Third', 'unknown', 'Queenstown', '1']
['0', 'male', '28', '0', '0', '47.1', 'First', 'unknown', 'Southampton', '1']
['0', 'male', '16', '1', '3', '34.375', 'Third', 'unknown', 'Southampton', '0']
['0', 'male', '28', '0', '0', '8.05', 'Third', 'unknown', 'Southampton', '1']
['1', 'female', '23', '3', '2', '263', 'First', 'C', 'Southampton', '0']
['0', 'male', '24', '0', '0', '8.05', 'Third', 'unknown', 'Southampton', '1']
['0', 'male', '46', '1', '0', '61.175', 'First', 'E', 'Southampton', '0']
['0', 'male', '59', '0', '0', '7.25', 'Third', 'unknown', 'Southampton', '1']
['0', 'male', '28', '0', '0', '8.05', 'Third', 'unknown', 'Southampton', '1']
['0', 'male', '71', '0', '0', '34.6542', 'First', 'A', 'Cherbourg', '1']
['1', 'male', '23', '0', '1', '63.3583', 'First', 'D', 'Cherbourg', '0']
['1', 'female', '34', '0', '1', '23', 'Second', 'unknown', 'Southampton', '0']
['0', 'male', '34', '1', '0', '26', 'Second', 'unknown', 'Southampton', '0']
['0', 'female', '28', '0', '0', '7.8958', 'Third', 'unknown', 'Southampton', '1']
['0', 'male', '28', '0', '0', '7.8958', 'Third', 'unknown', 'Southampton', '1']
['0', 'male', '21', '0', '1', '77.2875', 'First', 'D', 'Southampton', '0']
['0', 'male', '33', '0', '0', '8.6542', 'Third', 'unknown', 'Southampton', '1']
['0', 'male', '37', '2', '0', '7.925', 'Third', 'unknown', 'Southampton', '0']
['0', 'male', '28', '0', '0', '7.8958', 'Third', 'unknown', 'Southampton', '1']
['1', 'male', '28', '0', '0', '7.775', 'Third', 'unknown', 'Southampton', '1']
['1', 'female', '28', '1', '0', '24.15', 'Third', 'unknown', 'Queenstown', '0']
['0', 'male', '47', '0', '0', '52', 'First', 'C', 'Southampton', '1']
['0', 'female', '14.5', '1', '0', '14.4542', 'Third', 'unknown', 'Cherbourg', '0']
['0', 'male', '22', '0', '0', '8.05', 'Third', 'unknown', 'Southampton', '1']
['0', 'female', '17', '0', '0', '14.4583', 'Third', 'unknown', 'Cherbourg', '1']
['0', 'male', '21', '0', '0', '7.925', 'Third', 'unknown', 'Southampton', '1']
['0', 'male', '70.5', '0', '0', '7.75', 'Third', 'unknown', 'Queenstown', '1']
['0', 'male', '29', '1', '0', '21', 'Second', 'unknown', 'Southampton', '0']
['0', 'male', '24', '0', '1', '247.5208', 'First', 'B', 'Cherbourg', '0']
['0', 'male', '28', '0', '0', '8.05', 'Third', 'unknown', 'Southampton', '1']
['0', 'male', '32.5', '1', '0', '30.0708', 'Second', 'unknown', 'Cherbourg', '0']
['1', 'female', '32.5', '0', '0', '13', 'Second', 'E', 'Southampton', '1']
['0', 'male', '28', '0', '0', '7.75', 'Third', 'unknown', 'Queenstown', '1']
['1', 'male', '24', '0', '0', '7.1417', 'Third', 'unknown', 'Southampton', '1']
['0', 'male', '45', '0', '0', '6.975', 'Third', 'unknown', 'Southampton', '1']
['0', 'male', '20', '0', '0', '7.05', 'Third', 'unknown', 'Southampton', '1']
['0', 'female', '47', '1', '0', '14.5', 'Third', 'unknown', 'Southampton', '0']
['0', 'male', '23', '0', '0', '15.0458', 'Second', 'unknown', 'Cherbourg', '1']
['1', 'female', '19', '0', '2', '26.2833', 'First', 'D', 'Southampton', '0']
['0', 'male', '37', '1', '0', '53.1', 'First', 'C', 'Southampton', '0']
['0', 'male', '16', '0', '0', '9.2167', 'Third', 'unknown', 'Southampton', '1']
['0', 'male', '24', '0', '0', '79.2', 'First', 'B', 'Cherbourg', '1']
['0', 'female', '28', '0', '2', '15.2458', 'Third', 'unknown', 'Cherbourg', '0']
['1', 'female', '22', '0', '0', '7.75', 'Third', 'unknown', 'Southampton', '1']
['0', 'male', '19', '0', '0', '6.75', 'Third', 'unknown', 'Queenstown', '1']
['0', 'male', '18', '0', '0', '11.5', 'Second', 'unknown', 'Southampton', '1']
['0', 'female', '9', '2', '2', '34.375', 'Third', 'unknown', 'Southampton', '0']
['0', 'male', '51', '0', '0', '12.525', 'Second', 'unknown', 'Southampton', '1']
['0', 'male', '55.5', '0', '0', '8.05', 'Third', 'unknown', 'Southampton', '1']
['0', 'male', '40.5', '0', '2', '14.5', 'Third', 'unknown', 'Southampton', '0']
['0', 'male', '28', '0', '0', '7.3125', 'Third', 'unknown', 'Southampton', '1']
['0', 'male', '51', '0', '1', '61.3792', 'First', 'unknown', 'Cherbourg', '0']
['1', 'female', '16', '0', '0', '7.7333', 'Third', 'unknown', 'Queenstown', '1']
['0', 'male', '28', '0', '0', '8.6625', 'Third', 'unknown', 'Southampton', '1']
['0', 'male', '28', '8', '2', '69.55', 'Third', 'unknown', 'Southampton', '0']
['0', 'male', '44', '0', '1', '16.1', 'Third', 'unknown', 'Southampton', '0']
['0', 'male', '26', '0', '0', '7.775', 'Third', 'unknown', 'Southampton', '1']
['0', 'male', '17', '0', '0', '8.6625', 'Third', 'unknown', 'Southampton', '1']
['0', 'male', '1', '4', '1', '39.6875', 'Third', 'unknown', 'Southampton', '0']
['1', 'female', '28', '0', '1', '55', 'First', 'E', 'Southampton', '0']
['0', 'male', '28', '0', '0', '56.4958', 'Third', 'unknown', 'Southampton', '1']
['0', 'male', '4', '4', '1', '29.125', 'Third', 'unknown', 'Queenstown', '0']
['0', 'male', '18', '1', '1', '7.8542', 'Third', 'unknown', 'Southampton', '0']
['0', 'male', '28', '3', '1', '25.4667', 'Third', 'unknown', 'Southampton', '0']
['0', 'female', '50', '0', '0', '28.7125', 'First', 'C', 'Cherbourg', '1']
['0', 'male', '30', '0', '0', '13', 'Second', 'unknown', 'Southampton', '1']
['0', 'male', '36', '0', '0', '0', 'Third', 'unknown', 'Southampton', '1']
['0', 'female', '28', '8', '2', '69.55', 'Third', 'unknown', 'Southampton', '0']
['0', 'male', '28', '0', '0', '15.05', 'Second', 'unknown', 'Cherbourg', '1']
['0', 'male', '9', '4', '2', '31.3875', 'Third', 'unknown', 'Southampton', '0']
['1', 'female', '4', '0', '2', '22.025', 'Third', 'unknown', 'Southampton', '0']
['1', 'female', '28', '1', '0', '15.5', 'Third', 'unknown', 'Queenstown', '0']
['1', 'male', '45', '0', '0', '26.55', 'First', 'unknown', 'Southampton', '1']
['0', 'male', '36', '0', '0', '7.8958', 'Third', 'unknown', 'Southampton', '1']
['1', 'female', '32', '0', '0', '13', 'Second', 'unknown', 'Southampton', '1']
['1', 'female', '19', '1', '0', '7.8542', 'Third', 'unknown', 'Southampton', '0']
['1', 'male', '3', '1', '1', '26', 'Second', 'F', 'Southampton', '0']
['1', 'female', '44', '0', '0', '27.7208', 'First', 'B', 'Cherbourg', '1']
['1', 'female', '58', '0', '0', '146.5208', 'First', 'B', 'Cherbourg', '1']
['0', 'male', '28', '0', '0', '7.75', 'Third', 'unknown', 'Queenstown', '1']
['1', 'female', '28', '0', '0', '7.75', 'Third', 'unknown', 'Queenstown', '1']
['0', 'female', '24', '0', '0', '13', 'Second', 'unknown', 'Southampton', '1']
['0', 'male', '28', '0', '0', '9.5', 'Third', 'unknown', 'Southampton', '1']
['0', 'male', '28', '8', '2', '69.55', 'Third', 'unknown', 'Southampton', '0']
['0', 'male', '34', '0', '0', '6.4958', 'Third', 'unknown', 'Southampton', '1']
['0', 'female', '2', '0', '1', '10.4625', 'Third', 'G', 'Southampton', '0']
['0', 'male', '32', '1', '0', '15.85', 'Third', 'unknown', 'Southampton', '0']
['1', 'male', '26', '0', '0', '18.7875', 'Third', 'unknown', 'Cherbourg', '1']
['1', 'female', '16', '0', '0', '7.75', 'Third', 'unknown', 'Queenstown', '1']
['1', 'male', '40', '0', '0', '31', 'First', 'A', 'Cherbourg', '1']
['1', 'female', '35', '0', '0', '21', 'Second', 'unknown', 'Southampton', '1']
['0', 'male', '22', '0', '0', '7.25', 'Third', 'unknown', 'Southampton', '1']
['0', 'male', '28', '1', '0', '7.75', 'Third', 'unknown', 'Queenstown', '0']
['1', 'female', '31', '1', '0', '113.275', 'First', 'D', 'Cherbourg', '0']
['1', 'female', '27', '0', '0', '7.925', 'Third', 'unknown', 'Southampton', '1']
['0', 'male', '42', '1', '0', '27', 'Second', 'unknown', 'Southampton', '0']
['0', 'male', '30', '0', '0', '10.5', 'Second', 'unknown', 'Southampton', '1']
['1', 'male', '16', '0', '0', '8.05', 'Third', 'unknown', 'Southampton', '1']
['0', 'male', '51', '0', '0', '8.05', 'Third', 'unknown', 'Southampton', '1']
['0', 'male', '22', '0', '0', '9.35', 'Third', 'unknown', 'Southampton', '1']
['1', 'male', '19', '0', '0', '10.5', 'Second', 'unknown', 'Southampton', '1']
['0', 'male', '20.5', '0', '0', '7.25', 'Third', 'unknown', 'Southampton', '1']
['0', 'male', '18', '0', '0', '13', 'Second', 'unknown', 'Southampton', '1']
['0', 'female', '28', '3', '1', '25.4667', 'Third', 'unknown', 'Southampton', '0']
['1', 'female', '35', '1', '0', '83.475', 'First', 'C', 'Southampton', '0']
['0', 'male', '29', '0', '0', '7.775', 'Third', 'unknown', 'Southampton', '1']
['0', 'male', '59', '0', '0', '13.5', 'Second', 'unknown', 'Southampton', '1']
['0', 'female', '28', '0', '0', '7.55', 'Third', 'unknown', 'Southampton', '1']
['0', 'male', '44', '1', '0', '26', 'Second', 'unknown', 'Southampton', '0']
['0', 'male', '19', '0', '0', '10.5', 'Second', 'unknown', 'Southampton', '1']
['0', 'male', '33', '0', '0', '12.275', 'Second', 'unknown', 'Southampton', '1']
['0', 'female', '28', '1', '0', '14.4542', 'Third', 'unknown', 'Cherbourg', '0']
['1', 'female', '28', '1', '0', '15.5', 'Third', 'unknown', 'Queenstown', '0']
['0', 'male', '22', '0', '0', '7.125', 'Third', 'unknown', 'Southampton', '1']
['0', 'male', '30', '0', '0', '7.225', 'Third', 'unknown', 'Cherbourg', '1']
['0', 'male', '44', '2', '0', '90', 'First', 'C', 'Queenstown', '0']
['1', 'female', '24', '0', '2', '14.5', 'Second', 'unknown', 'Southampton', '0']
['0', 'male', '28', '0', '0', '7.25', 'Third', 'unknown', 'Southampton', '1']
['0', 'female', '29', '1', '1', '10.4625', 'Third', 'G', 'Southampton', '0']
['0', 'male', '30', '1', '0', '16.1', 'Third', 'unknown', 'Southampton', '0']
['0', 'female', '41', '0', '2', '20.2125', 'Third', 'unknown', 'Southampton', '0']
['1', 'female', '28', '0', '0', '79.2', 'First', 'unknown', 'Cherbourg', '1']
['1', 'female', '35', '0', '0', '512.3292', 'First', 'unknown', 'Cherbourg', '1']
['1', 'female', '50', '0', '1', '26', 'Second', 'unknown', 'Southampton', '0']
['0', 'male', '28', '0', '0', '7.75', 'Third', 'unknown', 'Queenstown', '1']
['1', 'male', '3', '4', '2', '31.3875', 'Third', 'unknown', 'Southampton', '0']
['0', 'male', '40', '0', '0', '0', 'First', 'B', 'Southampton', '1']
['0', 'female', '28', '0', '0', '7.75', 'Third', 'unknown', 'Queenstown', '1']
['0', 'male', '36', '0', '0', '10.5', 'Second', 'unknown', 'Southampton', '1']
['0', 'male', '16', '4', '1', '39.6875', 'Third', 'unknown', 'Southampton', '0']
['1', 'male', '25', '1', '0', '7.775', 'Third', 'unknown', 'Southampton', '0']
['1', 'female', '58', '0', '1', '153.4625', 'First', 'C', 'Southampton', '0']
['1', 'female', '35', '0', '0', '135.6333', 'First', 'C', 'Southampton', '1']
['0', 'male', '28', '0', '0', '31', 'First', 'unknown', 'Southampton', '1']
['1', 'male', '25', '0', '0', '0', 'Third', 'unknown', 'Southampton', '1']
['1', 'female', '41', '0', '1', '19.5', 'Second', 'unknown', 'Southampton', '0']
['0', 'male', '37', '0', '1', '29.7', 'First', 'C', 'Cherbourg', '0']
['1', 'female', '28', '0', '0', '7.75', 'Third', 'unknown', 'Queenstown', '1']
['1', 'female', '63', '1', '0', '77.9583', 'First', 'D', 'Southampton', '0']
['0', 'female', '45', '0', '0', '7.75', 'Third', 'unknown', 'Southampton', '1']
['0', 'male', '28', '0', '0', '0', 'Second', 'unknown', 'Southampton', '1']
['0', 'male', '7', '4', '1', '29.125', 'Third', 'unknown', 'Queenstown', '0']
['1', 'female', '35', '1', '1', '20.25', 'Third', 'unknown', 'Southampton', '0']
['0', 'male', '28', '0', '0', '7.8542', 'Third', 'unknown', 'Southampton', '1']
['0', 'male', '16', '0', '0', '9.5', 'Third', 'unknown', 'Southampton', '1']
['0', 'male', '28', '0', '0', '26', 'First', 'A', 'Southampton', '1']
['1', 'female', '26', '0', '0', '78.85', 'First', 'unknown', 'Southampton', '1']
['0', 'male', '36', '0', '0', '12.875', 'Second', 'D', 'Cherbourg', '1']
['0', 'male', '24', '0', '0', '7.8958', 'Third', 'unknown', 'Southampton', '1']
['1', 'male', '28', '0', '0', '30.5', 'First', 'C', 'Southampton', '1']
['1', 'female', '50', '0', '1', '247.5208', 'First', 'B', 'Cherbourg', '0']
['1', 'female', '28', '0', '0', '7.75', 'Third', 'unknown', 'Queenstown', '1']
['0', 'male', '19', '0', '0', '0', 'Third', 'unknown', 'Southampton', '1']
['1', 'female', '28', '0', '0', '12.35', 'Second', 'E', 'Queenstown', '1']
['0', 'male', '28', '0', '0', '8.05', 'Third', 'unknown', 'Southampton', '1']
['1', 'female', '28', '0', '0', '110.8833', 'First', 'unknown', 'Cherbourg', '1']
['1', 'female', '17', '1', '0', '108.9', 'First', 'C', 'Cherbourg', '0']
['0', 'male', '30', '1', '0', '24', 'Second', 'unknown', 'Cherbourg', '0']
['1', 'female', '30', '0', '0', '56.9292', 'First', 'E', 'Cherbourg', '1']
['1', 'female', '24', '0', '0', '83.1583', 'First', 'C', 'Cherbourg', '1']
['1', 'female', '18', '2', '2', '262.375', 'First', 'B', 'Cherbourg', '0']
['0', 'female', '26', '1', '1', '26', 'Second', 'unknown', 'Southampton', '0']
['0', 'male', '28', '0', '0', '7.8958', 'Third', 'unknown', 'Southampton', '1']
['0', 'male', '43', '1', '1', '26.25', 'Second', 'unknown', 'Southampton', '0']
['1', 'female', '24', '1', '0', '26', 'Second', 'unknown', 'Southampton', '0']
['1', 'female', '31', '0', '2', '164.8667', 'First', 'C', 'Southampton', '0']
['1', 'female', '40', '1', '1', '134.5', 'First', 'E', 'Cherbourg', '0']
['0', 'male', '22', '0', '0', '7.25', 'Third', 'unknown', 'Southampton', '1']
['0', 'male', '27', '0', '0', '7.8958', 'Third', 'unknown', 'Southampton', '1']
['1', 'female', '22', '1', '1', '29', 'Second', 'unknown', 'Southampton', '0']
['0', 'male', '28', '8', '2', '69.55', 'Third', 'unknown', 'Southampton', '0']
['1', 'female', '36', '0', '0', '135.6333', 'First', 'C', 'Cherbourg', '1']
['0', 'male', '61', '0', '0', '6.2375', 'Third', 'unknown', 'Southampton', '1']
['1', 'female', '31', '1', '1', '20.525', 'Third', 'unknown', 'Southampton', '0']
['1', 'female', '28', '2', '0', '23.25', 'Third', 'unknown', 'Queenstown', '0']
['0', 'male', '38', '0', '1', '153.4625', 'First', 'C', 'Southampton', '0']
['1', 'female', '28', '1', '0', '133.65', 'First', 'unknown', 'Southampton', '0']
['0', 'male', '28', '0', '0', '7.8958', 'Third', 'unknown', 'Southampton', '1']
['0', 'male', '29', '1', '0', '66.6', 'First', 'C', 'Southampton', '0']
['1', 'male', '45', '0', '0', '8.05', 'Third', 'unknown', 'Southampton', '1']
['0', 'male', '45', '0', '0', '35.5', 'First', 'unknown', 'Southampton', '1']
['0', 'male', '28', '0', '0', '13', 'Second', 'unknown', 'Southampton', '1']
['0', 'male', '25', '0', '0', '13', 'Second', 'unknown', 'Southampton', '1']
['0', 'male', '36', '0', '0', '13', 'Second', 'unknown', 'Southampton', '1']
['1', 'female', '24', '0', '0', '13', 'Second', 'F', 'Southampton', '1']
['1', 'female', '40', '0', '0', '13', 'Second', 'unknown', 'Southampton', '1']
['1', 'female', '28', '1', '0', '16.1', 'Third', 'unknown', 'Southampton', '0']
['0', 'male', '15', '1', '1', '7.2292', 'Third', 'unknown', 'Cherbourg', '0']
['0', 'male', '25', '1', '0', '17.8', 'Third', 'unknown', 'Southampton', '0']
['0', 'male', '28', '0', '0', '7.225', 'Third', 'unknown', 'Cherbourg', '1']

In [2]:
train_file_path = "train.csv"
test_file_path = "eval.csv"

In [3]:
import numpy as np
np.set_printoptions(precision=3, suppress=True)

In [4]:
!head {train_file_path}

survived,sex,age,n_siblings_spouses,parch,fare,class,deck,embark_town,alone
0,male,22,1,0,7.25,Third,unknown,Southampton,0
1,female,38,1,0,71.2833,First,C,Cherbourg,0
1,female,26,0,0,7.925,Third,unknown,Southampton,1
1,female,35,1,0,53.1,First,C,Southampton,0
0,male,28,0,0,8.4583,Third,unknown,Queenstown,1
0,male,2,3,1,21.075,Third,unknown,Southampton,0
1,female,27,0,2,11.1333,Third,unknown,Southampton,0
1,female,14,1,0,30.0708,Second,unknown,Cherbourg,0
1,female,4,1,1,16.7,Third,G,Southampton,0

In [5]:
LABEL_COLUMN = 'alone'
LABELS = [0, 1]

In [6]:
def get_dataset(file_path, **kwargs):
  dataset = tf.data.experimental.make_csv_dataset(
      file_path,
      batch_size=5, # Artificially small to make examples easier to show.
      label_name=LABEL_COLUMN,
      na_value="?",
      num_epochs=1,
      ignore_errors=True, 
      **kwargs)
  return dataset

raw_train_data = get_dataset(train_file_path)
raw_test_data = get_dataset(test_file_path)

In [7]:
def show_batch(dataset):
  for batch, label in dataset.take(1):
    for key, value in batch.items():
      print("{:20s}: {}".format(key,value.numpy()))

In [8]:
show_batch(raw_train_data)

survived            : [1 0 1 0 1]
sex                 : [b'male' b'male' b'female' b'male' b'female']
age                 : [28. 36. 33. 16. 25.]
n_siblings_spouses  : [0 1 1 1 1]
parch               : [0 0 0 3 1]
fare                : [56.496 78.85  53.1   34.375 30.   ]
class               : [b'Third' b'First' b'First' b'Third' b'Second']
deck                : [b'unknown' b'C' b'E' b'unknown' b'unknown']
embark_town         : [b'Southampton' b'Southampton' b'Southampton' b'Southampton'
 b'Southampton']

In [9]:
CSV_COLUMNS = ['survived', 'sex', 'age', 'n_siblings_spouses', 'parch', 'fare', 'class', 'deck', 'embark_town', 'alone']

temp_dataset = get_dataset(train_file_path, column_names=CSV_COLUMNS)

show_batch(temp_dataset)

survived            : [0 1 0 1 0]
sex                 : [b'male' b'male' b'female' b'female' b'male']
age                 : [29. 48. 28. 28. 47.]
n_siblings_spouses  : [0 1 0 1 0]
parch               : [0 0 2 0 0]
fare                : [30.    76.729  7.75  16.1    7.25 ]
class               : [b'First' b'First' b'Third' b'Third' b'Third']
deck                : [b'D' b'D' b'unknown' b'unknown' b'unknown']
embark_town         : [b'Southampton' b'Cherbourg' b'Queenstown' b'Southampton' b'Southampton']

In [10]:
SELECT_COLUMNS = ['survived', 'age', 'n_siblings_spouses', 'class', 'deck', 'alone']

temp_dataset = get_dataset(train_file_path, select_columns=SELECT_COLUMNS)

show_batch(temp_dataset)

survived            : [0 0 0 0 1]
age                 : [30. 24. 28. 41. 24.]
n_siblings_spouses  : [0 2 0 0 1]
class               : [b'Second' b'Second' b'Third' b'Third' b'Second']
deck                : [b'unknown' b'unknown' b'unknown' b'unknown' b'unknown']

In [11]:
SELECT_COLUMNS = ['survived', 'age', 'n_siblings_spouses', 'parch', 'fare','alone']
DEFAULTS = [0.0, 0.0, 0.0, 0.0, 0.0 , 0]
temp_dataset = get_dataset(train_file_path, 
                           select_columns=SELECT_COLUMNS,
                           column_defaults = DEFAULTS)

show_batch(temp_dataset)

survived            : [0. 0. 1. 0. 0.]
age                 : [18. 24. 60. 30. 32.]
n_siblings_spouses  : [0. 0. 1. 0. 0.]
parch               : [0. 0. 1. 0. 0.]
fare                : [11.5   79.2   79.2    8.663  7.896]

In [12]:
example_batch, labels_batch = next(iter(temp_dataset))

In [13]:
def pack(features, label):
  return tf.stack(list(features.values()), axis=-1), label

In [14]:
packed_dataset = temp_dataset.map(pack)

for features, labels in packed_dataset.take(1):
  print(features.numpy())
  print()
  print(labels.numpy())

[[ 0.    36.     1.     0.    78.85 ]
 [ 0.     2.     0.     1.    10.462]
 [ 0.    25.     0.     0.     7.742]
 [ 0.    24.     0.     0.    13.   ]
 [ 1.    26.     0.     0.     7.925]]

[0 0 1 1 1]

In [15]:
show_batch(raw_train_data)

survived            : [0 1 0 0 0]
sex                 : [b'male' b'female' b'male' b'male' b'female']
age                 : [66. 28. 22. 28. 57.]
n_siblings_spouses  : [0 0 0 0 0]
parch               : [0 0 0 0 0]
fare                : [ 10.5     7.787   7.229 227.525  10.5  ]
class               : [b'Second' b'Third' b'Third' b'First' b'Second']
deck                : [b'unknown' b'unknown' b'unknown' b'unknown' b'E']
embark_town         : [b'Southampton' b'Queenstown' b'Cherbourg' b'Cherbourg' b'Southampton']

In [16]:
example_batch, labels_batch = next(iter(temp_dataset))

In [17]:
class PackNumericFeatures(object):
  def __init__(self, names):
    self.names = names

  def __call__(self, features, labels):
    numeric_features = [features.pop(name) for name in self.names]
    numeric_features = [tf.cast(feat, tf.float32) for feat in numeric_features]
    numeric_features = tf.stack(numeric_features, axis=-1)
    features['numeric'] = numeric_features

    return features, labels

In [18]:
NUMERIC_FEATURES = ['survived','age','n_siblings_spouses','parch', 'fare']

packed_train_data = raw_train_data.map(
    PackNumericFeatures(NUMERIC_FEATURES))

packed_test_data = raw_test_data.map(
    PackNumericFeatures(NUMERIC_FEATURES))

In [19]:
show_batch(packed_train_data)

sex                 : [b'male' b'female' b'female' b'male' b'male']
class               : [b'Third' b'Third' b'Third' b'Third' b'Third']
deck                : [b'unknown' b'unknown' b'unknown' b'unknown' b'unknown']
embark_town         : [b'Southampton' b'Southampton' b'Queenstown' b'Cherbourg' b'Southampton']
numeric             : [[ 1.     1.     1.     2.    20.575]
 [ 1.    63.     0.     0.     9.587]
 [ 1.    28.     0.     0.     7.879]
 [ 0.    34.5    0.     0.     6.438]
 [ 0.    28.     0.     0.     7.896]]

In [20]:
example_batch, labels_batch = next(iter(packed_train_data))

In [21]:
import pandas as pd
desc = pd.read_csv(train_file_path)[NUMERIC_FEATURES].describe()
desc

         survived         age  n_siblings_spouses       parch        fare
count  627.000000  627.000000          627.000000  627.000000  627.000000
mean     0.387560   29.631308            0.545455    0.379585   34.385399
std      0.487582   12.511818            1.151090    0.792999   54.597730
min      0.000000    0.750000            0.000000    0.000000    0.000000
25%      0.000000   23.000000            0.000000    0.000000    7.895800
50%      0.000000   28.000000            0.000000    0.000000   15.045800
75%      1.000000   35.000000            1.000000    0.000000   31.387500
max      1.000000   80.000000            8.000000    5.000000  512.329200

In [22]:
MEAN = np.array(desc.T['mean'])
STD = np.array(desc.T['std'])

In [23]:
def normalize_numeric_data(data, mean, std):
  # Center the data
  return (data-mean)/std

In [24]:
import functools

normalizer = functools.partial(normalize_numeric_data, mean=MEAN, std=STD)

numeric_column = tf.feature_column.numeric_column('numeric', normalizer_fn=normalizer, shape=[len(NUMERIC_FEATURES)])
numeric_columns = [numeric_column]
numeric_column

NumericColumn(key='numeric', shape=(5,), default_value=None, dtype=tf.float32, normalizer_fn=functools.partial(<function normalize_numeric_data at 0x7f26cc60a290>, mean=array([ 0.388, 29.631,  0.545,  0.38 , 34.385]), std=array([ 0.488, 12.512,  1.151,  0.793, 54.598])))

In [25]:
example_batch['numeric']

<tf.Tensor: shape=(5, 5), dtype=float32, numpy=
array([[ 1.   , 21.   ,  0.   ,  0.   ,  7.796],
       [ 1.   , 24.   ,  0.   ,  0.   , 69.3  ],
       [ 0.   , 28.   ,  0.   ,  0.   ,  8.05 ],
       [ 0.   , 32.   ,  0.   ,  0.   ,  7.925],
       [ 1.   , 28.   ,  0.   ,  0.   , 13.   ]], dtype=float32)>

In [26]:
numeric_layer = tf.keras.layers.DenseFeatures(numeric_columns)
numeric_layer(example_batch).numpy()

array([[ 1.256, -0.69 , -0.474, -0.479, -0.487],
       [ 1.256, -0.45 , -0.474, -0.479,  0.639],
       [-0.795, -0.13 , -0.474, -0.479, -0.482],
       [-0.795,  0.189, -0.474, -0.479, -0.485],
       [ 1.256, -0.13 , -0.474, -0.479, -0.392]], dtype=float32)

In [28]:
CATEGORIES = {
    'sex': ['male', 'female'],
    'class' : ['First', 'Second', 'Third'],
    'deck' : ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J'],
    'embark_town' : ['Cherbourg', 'Southhampton', 'Queenstown']
}

In [29]:
categorical_columns = []
for feature, vocab in CATEGORIES.items():
  cat_col = tf.feature_column.categorical_column_with_vocabulary_list(
        key=feature, vocabulary_list=vocab)
  categorical_columns.append(tf.feature_column.indicator_column(cat_col))

In [30]:
categorical_columns

[IndicatorColumn(categorical_column=VocabularyListCategoricalColumn(key='sex', vocabulary_list=('male', 'female'), dtype=tf.string, default_value=-1, num_oov_buckets=0)),
 IndicatorColumn(categorical_column=VocabularyListCategoricalColumn(key='class', vocabulary_list=('First', 'Second', 'Third'), dtype=tf.string, default_value=-1, num_oov_buckets=0)),
 IndicatorColumn(categorical_column=VocabularyListCategoricalColumn(key='deck', vocabulary_list=('A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J'), dtype=tf.string, default_value=-1, num_oov_buckets=0)),
 IndicatorColumn(categorical_column=VocabularyListCategoricalColumn(key='embark_town', vocabulary_list=('Cherbourg', 'Southhampton', 'Queenstown'), dtype=tf.string, default_value=-1, num_oov_buckets=0))]

In [31]:
categorical_layer = tf.keras.layers.DenseFeatures(categorical_columns)
print(categorical_layer(example_batch).numpy()[0])

WARNING:tensorflow:From /home/harsh/anaconda3/lib/python3.7/site-packages/tensorflow_core/python/feature_column/feature_column_v2.py:4267: IndicatorColumn._variable_shape (from tensorflow.python.feature_column.feature_column_v2) is deprecated and will be removed in a future version.
Instructions for updating:
The old _FeatureColumn APIs are being deprecated. Please use the new FeatureColumn APIs instead.
WARNING:tensorflow:From /home/harsh/anaconda3/lib/python3.7/site-packages/tensorflow_core/python/feature_column/feature_column_v2.py:4322: VocabularyListCategoricalColumn._num_buckets (from tensorflow.python.feature_column.feature_column_v2) is deprecated and will be removed in a future version.
Instructions for updating:
The old _FeatureColumn APIs are being deprecated. Please use the new FeatureColumn APIs instead.
[0. 0. 1. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 1. 0.]

In [32]:
preprocessing_layer = tf.keras.layers.DenseFeatures(categorical_columns+numeric_columns)

In [33]:
print(preprocessing_layer(example_batch).numpy()[0])

[ 0.     0.     1.     0.     0.     0.     0.     0.     0.     0.
  0.     0.     0.     0.     0.     0.     1.256 -0.69  -0.474 -0.479
 -0.487  1.     0.   ]

In [34]:
model = tf.keras.Sequential([
  preprocessing_layer,
  tf.keras.layers.Dense(128, activation='relu'),
  tf.keras.layers.Dense(128, activation='relu'),
  tf.keras.layers.Dense(1),
])

model.compile(
    loss=tf.keras.losses.BinaryCrossentropy(from_logits=True),
    optimizer='adam',
    metrics=['accuracy'])

In [35]:
train_data = packed_train_data.shuffle(500)
test_data = packed_test_data

In [36]:
model.fit(train_data, epochs=20)

Epoch 1/20
126/126 [==============================] - 3s 25ms/step - loss: 0.2842 - accuracy: 0.8740
Epoch 2/20
126/126 [==============================] - 1s 5ms/step - loss: 0.0219 - accuracy: 0.9984
Epoch 3/20
126/126 [==============================] - 1s 4ms/step - loss: 0.0043 - accuracy: 1.0000
Epoch 4/20
126/126 [==============================] - 1s 4ms/step - loss: 0.0018 - accuracy: 1.0000
Epoch 5/20
126/126 [==============================] - 1s 5ms/step - loss: 9.7173e-04 - accuracy: 1.0000
Epoch 6/20
126/126 [==============================] - 1s 4ms/step - loss: 6.0358e-04 - accuracy: 1.0000
Epoch 7/20
126/126 [==============================] - 1s 4ms/step - loss: 4.1137e-04 - accuracy: 1.0000
Epoch 8/20
126/126 [==============================] - 1s 4ms/step - loss: 2.9414e-04 - accuracy: 1.0000
Epoch 9/20
126/126 [==============================] - 1s 4ms/step - loss: 2.1750e-04 - accuracy: 1.0000
Epoch 10/20
126/126 [==============================] - 1s 5ms/step - loss: 1.6348e-04 - accuracy: 1.0000
Epoch 11/20
126/126 [==============================] - 1s 5ms/step - loss: 1.2543e-04 - accuracy: 1.0000
Epoch 12/20
126/126 [==============================] - 1s 4ms/step - loss: 9.7791e-05 - accuracy: 1.0000
Epoch 13/20
126/126 [==============================] - 1s 4ms/step - loss: 7.8132e-05 - accuracy: 1.0000
Epoch 14/20
126/126 [==============================] - 1s 4ms/step - loss: 6.3620e-05 - accuracy: 1.0000
Epoch 15/20
126/126 [==============================] - 1s 4ms/step - loss: 5.2657e-05 - accuracy: 1.0000
Epoch 16/20
126/126 [==============================] - 1s 5ms/step - loss: 4.4165e-05 - accuracy: 1.0000
Epoch 17/20
126/126 [==============================] - 1s 5ms/step - loss: 3.7038e-05 - accuracy: 1.0000
Epoch 18/20
126/126 [==============================] - 1s 5ms/step - loss: 3.1382e-05 - accuracy: 1.0000
Epoch 19/20
126/126 [==============================] - 1s 5ms/step - loss: 2.6884e-05 - accuracy: 1.0000
Epoch 20/20
126/126 [==============================] - 1s 4ms/step - loss: 2.3252e-05 - accuracy: 1.0000

In [37]:
test_loss, test_accuracy = model.evaluate(test_data)

print('\n\nTest Loss {}, Test Accuracy {}'.format(test_loss, test_accuracy))

     53/Unknown - 1s 11ms/step - loss: 2.2010e-05 - accuracy: 1.0000

Test Loss 2.201018113595946e-05, Test Accuracy 1.0

In [39]:
predictions = model.predict(test_data)

# Show some results
for prediction, alone in zip(predictions[:10], list(test_data)[0][1][:10]):
  prediction = tf.sigmoid(prediction).numpy()
  print("Predicted matching: {:.2%}".format(prediction[0]),
        " | Actual outcome: ",
        ("ALONE" if bool(alone) else "FAMILY"))

Predicted matching: 0.00%  | Actual outcome:  FAMILY
Predicted matching: 100.00%  | Actual outcome:  ALONE
Predicted matching: 100.00%  | Actual outcome:  ALONE
Predicted matching: 100.00%  | Actual outcome:  ALONE
Predicted matching: 100.00%  | Actual outcome:  ALONE